<div class="padding">
    <div class="container" id="news">
        <h2 class="text-center mb-5">Some news maybe</h2>
        <div class="row">
            <div class="col-sm-6">
                <h3>The cool things about our services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quam blanditiis illum quos laboriosam
                    placeat
                    provident unde est ipsum ipsa culpa voluptate, temporibus saepe minima tenetur officia quasi explicabo iure!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat quidem modi ratione quae, assumenda
                    officiis, veritatis maxime dicta harum obcaecati laboriosam at quo. Sequi beatae nisi dicta animi autem.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde necessitatibus laborum, earum animi obcaecati
                    molestias quo dolores modi iusto deserunt perspiciatis odio minus error quibusdam illo qui, esse id quis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis asperiores reprehenderit quibusdam labore
                    quae nemo placeat qui adipisci corrupti assumenda, ducimus magni provident ea. Aperiam adipisci maiores odio
                    a
                    voluptatibus?
                </p>
            </div>
            <div class="col-sm-6 test">
                <img src="{{ 'resources/assets/img/bootstrap2.png' }}" alt="" height="300" width="500">
            </div>
        </div>
    </div>
</div>