<div id="presentation">
    <div class="padding">
        <div class="container" id="#presentation">
            <h2 id="services" class="text-center m-5"></h2>
            <div class="row">
                <div class="col-sm-6">
                    <iframe width="550" height="315" src="https://www.youtube.com/embed/diIOyfWTaB0"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 text-center">

                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quod id aut aperiam expedita quas
                        hic,
                        laborum deleniti eos eaque velit inventore autem ab. Vero rerum error deleniti quod. Facere.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Built with Sass</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quasi iste delectus molestias, nam eos
                        iusto. Quae, similique! Dolore suscipit animi ullam nobis et nostrum rerum minus aliquid harum optio.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{{ 'resources/assets/img/sass.png' }}" alt="" height="200" width="200" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Built with Sass</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quasi iste delectus molestias, nam eos
                        iusto. Quae, similique! Dolore suscipit animi ullam nobis et nostrum rerum minus aliquid harum optio.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="{{ 'resources/assets/img/less.png' }}" alt="" height="200" width="200" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

</div>