<div class="container-fluid">
    <form method="post">
        <label for="mytextarea"></label>
        <textarea id="mytextarea" name="mytextarea">
        </textarea>
        <button class="btn btn-amber ml-auto">Post</button>
    </form>
</div>