@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* The full height and width */
html, body{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
    background: url(../assets/img/transport3.jpg) no-repeat center center fixed;
    background-size:cover;

}
.main{
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: white;
    font-size: 7rem;
}

.box{
    font-size: 1.3rem;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.8;
}

.fa{
    padding: 15px;
    font-size: 3em;
    color: white;
}

.fa:hover {
    text-decoration: none;
    transition: all 1s
;
}

a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: orange;
}