

#new-announcement{
    height: calc(100vh - 140px);
}
#announcements{

}

#announcements h2{
    text-align: center;
    margin: 3rem;
}
.required::after{
    content: "*";
    color: red;
    margin-left: 0.3rem;
}